body {
	margin: 0;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.arrowUp, .arrowDown, .facebook, .instagram {
	font-size: 300%;
	position: fixed;
}

.arrowUp a, .arrowDown a, .facebook a, .instagram a {
	text-decoration: none;
	transition: .6s;
}

.arrowUp a, .arrowDown a {
	color: red;

}

.facebook a {
	color: #3B5998;
	position: fixed;
	top: 40%;
}

.instagram a {
	color: #fb3958;
	bottom: 40%;
	position: fixed;
}

.arrowUp a:hover, .arrowDown a:hover, .facebook a:hover, .instagram a:hover{
	color: blue;
}

.arrowUp {
	position: fixed;
	top: 40%;
	right: 0px;
}

.arrowDown {
	position: fixed;
	bottom: 40%;
	right: 0px;
}